.bmi-range-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1rem;
  position: relative;
}

.bmi-range-group section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.bmi-number {
  padding: 0.2rem 0.7rem;
  font-size: 1rem;
  font-weight: 700;
  color: #4b4b4b;
  text-align: center;
}

.bmi-range-group section .bmi-line {
  width: 100%;
  height: 6px;
}

.underweight .bmi-line {
  background-color: #0000ff;
}
.normal .bmi-line {
  background-color: #269a06;
}
.overweight .bmi-line {
  background-color: #ff9900;
}
.obese .bmi-line {
  background-color: #ff0000;
}

.bmi-range-group section .bmi-label {
  font-weight: 500;
}

.bmi-indicator {
  width: 3px;
  height: 1.5rem;
  background-color: #0000ff;
  position: absolute;
  top: -12%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  left: 0%;
  transition: 300ms;
}
